@tailwind base;
@tailwind components;
@tailwind utilities;

.account {
  margin: auto;
}

#navbar {
  position:fixed;  
  z-index:1;
  height:50px;
  text-align:center;
  vertical-align: middle;
  line-height:50px;
  top:0px;
  width: 100%;
}

#navbar a.active {
 background-color: #5e734e;
 color: white;
}

.messages-container {
  width: 80%;
  height: 56rem;
  border-left: rgb(204, 219, 207);
  border-left-style: solid;
  border-left-width: 2px;
}

.settings-container {
  width: 50%;
  height: 56rem;
  border-left: rgb(204, 219, 207);
  border-left-style: solid;
  border-left-width: 2px;
}

.account-update-container {
  height: 56rem;
  margin-left: 17rem;
}

.main-container {
  width: 70rem;
  margin: auto;
}

.filter-menu {
  width: 15rem;
  margin: auto;
}

#menu a.active {
  background-color: #5e734e;
  color: white;
 }

.threads-menu {
  height: 10%;
  width: 100%;
  justify-self: end;
}

.home-stats {
  width: 15rem;
  margin-left: 0%;
}

.posts-containers {
  margin: auto;
  width: 40rem;
  justify-content: center;
  align-items: center;
}

.item-fixed {
  position: fixed;
}

.single-post {
  width: 33rem;
  position: fixed;
  margin: 0 auto;
  text-align: center;
}

.clearFix {
  display: flex;
  height: 100%;
}
