@tailwind base;
@tailwind components;
@tailwind utilities;

.account {
  margin: auto;
}

.main-container {
  width: 70rem;
  margin: auto;
}

.filter-menu {
  width: 15rem;
  margin: auto;
}

.home-stats {
  width: 15rem;
  margin-left: 0%;
}

.posts-containers {
  margin: auto;
  width: 40rem;
  justify-content: center;
  align-items: center;
}

.item-fixed {
  position: fixed;
}

.main-container-fixed {
  width: 70rem;
  position: fixed;
  margin: 0 auto;
  text-align: center;
}

.single-post {
  width: 33rem;
  position: fixed;
  margin: 0 auto;
  text-align: center;
}
